*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

body{

    font-size: 20px;
    background-color: whitesmoke;
    margin: 0;
    
    
}

#navbar {
    padding: 10px;
    letter-spacing: 2px;
    display: flex;
}

#navbar ul{
    text-align: center;
}

#navbar li{
    display: inline-flex;
    padding-left: 10px;
    padding-right: 10px;
}

#navbar li a{
    color: maroon;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

#navbar li a:hover{
    color: black;
}
.container h1{
    /* margin-top: -145px; */
    /* margin-left: 190px; */
    color: maroon;
}

.background img{
    /* margin-top: 50px; */
}

.background p{
    /* margin-top: 10px; */
    /* margin-left: 200px; */
    font-weight: bolder;
    padding: 2%;

}

.xd img{
    margin-top: 160px;
    margin-left: 100px;
}

.xd h1{
    margin-top: -650px;
    margin-left: 600px;
    font-weight: bolder;
    color: black;
}

.container .xd p{
    font-size: 20px;
    margin-top: 155px;
    margin-left: 550px;
  }

/* Style the dropdown button */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .app form label {
    display: block;
  }

  .app {
    
    width: 700px;
    margin: 70px auto 0; /* Added margin-top of 20px */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color:#DFC2BE ;
    border-radius: 50px; /* Set border radius to 0 */
  }
  
  .app form {
    background-color: #DFC2BE;
    padding: 20px;
  }
  
  .app form label {
    font-weight: bold;
  }
  
  .app form input[type="text"],
  .app form input[type="email"],
  .app form input[type="date"],
  .app form input[type="time"] {
    width: calc(50% - 10px); /* Adjusted width for both fields */
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
     display: inline-block; /* To make inputs appear inline */
  }
  
  .app form input[type="submit"] {
    background-color: maroon;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .app form input[type="submit"]:hover {
    background-color: #45a049;
  }

  .container h2{
    margin-top: 20px;
  }
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  
